<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Aimee Kao is an Associate Professor in the Department of Neurology at UCSF. She received her MD, PhD degrees from
    the University of Iowa and then performed her Neurology residency at UCSF followed by a post-doctoral fellowship
    with Cynthia Kenyon. Her lab is interested in the basic pathophysiological mechanisms underlying neurodegenerative
    diseases. She is a Paul G. Allen Foundation Distinguished Investigator in Alzheimer's Disease.
</p>


</%block>