<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Ana Ruiz-Saenz is originally from Spain and studied Biochemistry at the University
    Autonoma of Madrid, where she obtained a Ph.D in Molecular Biology in 2011. Her
    PhD work focused on the role of microtubule dynamics in cell migration. In 2013, in
    a movement towards translational research, she joined the laboratory of Dr.
    Moasser at UCSF as a postdoctoral fellow. During her postdoc, she studied the
    mechanisms driving cancer progression and resistance to therapies of HER2-
    amplified cancers. She found a novel mechanism to target the currently
    undruggable HER3 and investigated the potential of HER2 to overcome HER3
    requirement in HER2-amplified breast cancers. She was awarded with an EMBO
    fellowship and a Ramon Areces postdoctoral grant. She will start her own lab in
    2019 at the Erasmus Medical Center in The Netherlands aiming to provide deeper
    insights into the resistance mechanisms and the metastatic process of HER2-
    amplified cancers that will hopefully help to define more effective strategies for this
    disease.
</p>


</%block>