<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Anatol Kreitzer is a Senior Investigator at the Gladstone Institute of Neurological Disease and Associate Professor
    of Physiology and Neurology at UCSF. Dr. Kreitzer’s research focuses on the disordered physiological processes
    associated with Parkinson’s disease. He is an expert in the emerging field of optogenetics—the application of
    genetic and optical techniques to remotely control brain cells in animals. Dr. Kreitzer earned his PhD in
    neurobiology at Harvard University. He conducted postdoctoral research at Stanford University with Dr. Robert
    Malenka until 2007, when he established his laboratory at Gladstone.
</p>


</%block>