<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>Angela DePace, Associate Professor of Systems Biology at Harvard Medical School, loves everything about the lab, from little things like labeling her test tubes
	to tackling big scientific questions around gene regulation. Her group is broadly interested in the evolution of transcriptional networks in animals. Whole genome
	sequencing for a wide variety of organisms has shown that across taxa, the set of protein coding genes is remarkably similar.</p>
<p>Her work aims to understand how this common genetic toolkit, in combination with its transcriptional network, can generate organismal diversity. She is also committed to helping
	scientists communicate effectively. She co-developed and co-teaches a popular Science Communication course at Harvard Medical School. She is also a co-author on the
	highly regarded book Visual Strategies: A Practical Guide to Graphics for Scientists and Engineers. She received her bachelor's degree in biochemistry and biophysics
	from Yale University and then moved on to earn her Ph.D. specializing in biochemistry from University of California, San Francisco. </p>



</%block>