<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Asha S. Collins leads the US Clinical Trial Sourcing business at McKesson Corporation, one of the largest healthcare
    organizations in North America. In this position, she leads a team that strategically sources commercial products
    for research and clinical trial studies. Prior to McKesson, Asha focused on leading biopharmaceutical companies
    through strategic change as a management consultant at Deloitte and Quintiles. Asha received her Ph.D. in Cancer
    Biology from the University of Wisconsin-Madison and her undergraduate degree in Biological Sciences from the
    University of Pittsburgh.
</p>


</%block>