<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
	<p>Asia Matthew-Onabanjo is a 5th year MD/PhD student at the University of Massachusetts Medical School. She earned her B.S.
	in Chemistry from Xavier University of Louisiana where she graduated summa cum laude.  She currently works in the laboratory
	of Leslie M. Shaw, PhD, studying the autophagy-independent functions of Beclin 1 in relation to breast cancer progression. In
	2016 she she was awarded a Ruth L. Kirschstein National Research Service Award from the National Cancer Institute (NCI) of the NIH.
	In March of 2017 she was an invited speaker at the IGF and Insulin System in Physiology and Disease Gordon Research Conference.</p>

	<p>In her free time, she enjoys participating in leadership roles in the Student National Medical Association (SNMA). She has served in SNMA on the local, regional, and national level. </p>




</%block>