<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>Ben Vincent is a graduate student in the Biological and Biomedical Sciences Ph.D. program at Harvard Medical School,
	where he specializes in genetics and genomics. As a member of Angela DePace's lab, he studies the function and evolution
	of developmental enhancers in Drosophila embryos. As a postdoctoral associate with Mark Rebeiz at the University of Pittsburgh,
	he will investigate the gene regulatory networks underlying genital morphology in different Drosophila species.</p>

<p>Ben is committed to helping scientists with career development. In collaboration with faculty members and other graduate students in the program,
	he designed and implemented an interactive workshop to help trainees get the most out of their individualized development plans. </p>



</%block>