<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Christine Siu is the chief financial officer of Eidos Therapeutics. From 2016-2017, she served as the founding chief
    operating officer of Eidos. From 2014 to 2017, she served as the chief business officer of the Bluefield Project to
    Cure Frontotemporal Dementia, a non-profit foundation dedicated to curing a genetic form of dementia. She worked at
    Third Rock Ventures in 2012, where she helped start Global Blood Therapeutics, Inc. (NASDAQ: GBT). She was the first
    employee at GBT and served as the senior director of corporate development from 2012 to 2013. Previously, she held
    roles of increasing responsibility at private equity and venture capital firms, Warburg Pincus and Thomas, McNerney
    & Partners, where she invested in life sciences companies. She holds an MBA from Harvard Business School and a B.S.
    in cellular molecular biology and economics from the University of Michigan.
</p>


</%block>