<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>Clarissa Scholes is a PhD student in Systems Biology at Harvard Medical School. She got her undergraduate degree in
	Archaeology and Anthropology at the University of Cambridge, and a Masters in Neuroscience at University College London.
	In Angela DePace’s lab, she works on transcriptional regulation, which she studies in fruit fly embryos where she can do
	beautiful cellular resolution imaging of gene expression. While she loves science, she also enjoys the outdoors, portrait painting and illustration. </p>


</%block>