<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>Dr. Cynthia Fuhrmann is Assistant Dean of Career and Professional Development and Assistant Professor of Biochemistry and Molecular Pharmacology
	at University of Massachusetts Medical School.  She founded and directs the Center for Biomedical Career Development,
	dedicated to taking a scholarly approach to enhancing the professional development of scientists. </p>

<p>Prior to transitioning to UMass
	Medical School, Fuhrmann founded the Preparing Future Faculty program and oversaw professional skills programs for biomedical
	scientists at University of California, San Francisco (UCSF). She co-authored myIDP, an interactive career-planning website hosted
	by Science Careers and the American Association for the Advancement of Science (AAAS). She has been a proponent of integrating career
	development into graduate and postdoctoral training and has published work cited in reports by the National Institutes of Health,
	Council of Graduate Schools, Science, Nature Careers, Inside Higher Ed, and the Chronicle of Higher Education. She
	has an undergraduate degree in chemistry from University of California Davis and a PhD in biochemistry and molecular biology from UCSF.</p>


</%block>