<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Daniel Dornbusch has served in multiple management roles at pharmaceutical, biotechnology, diagnostics, and strategy
    consulting companies including Novartis, Genentech, Amerisource Bergen and Genzyme. Daniel has spent almost 20 years
    in the healthcare industry in various roles including business development, sales, marketing, corporate development,
    and commercial management. Daniel is a founder of KidsDOC, a telemedicine company, as well as Acteris, a cancer
    immunotherapy drug development company where he served as CEO. Daniel received his B.A. in Biology and English from
    Cornell, M.A. in Science Communication from Tufts University School of Medicine and Emerson College, and M.B.A. from
    the Harvard Business School.
</p>


</%block>