<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Daniel Colón-Ramos was born and raised in Puerto Rico. He completed his B.A. at Harvard University, his PhD in the
    lab of Dr. Sally Kornbluth at Duke University and was a postdoctoral fellow in the lab of Dr. Kang Shen at Stanford
    University. The Colón-Ramos lab is interested in how synapses are precisely assembled to build the neuronal
    architecture that underlies behavior. To address this, they developed tools in the thermotaxis circuit of C.
    elegans. Their system enables unbiased genetic screens to identify novel pathways that instruct synaptogenesis in
    vivo, and single-cell manipulation of these pathways to understand how they influence behavior. As mechanisms
    underlying synapse structure and function are conserved, the research program seeks to enhance our understanding of
    synaptic cell biology in higher organisms, which may be important for disease.
</p>


</%block>