<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>Deborah Dauber is a public health professional with a Ph.D. in life sciences and an MPH in health policy and
    management. In her 15 years of experience in pharmaceutical and biotechnology market analysis and strategy, she has
    built expertise in diverse therapeutic areas including oncology, infectious disease, autoimmune disease and orphan
    indications. </p>


</%block>