<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Girish Aakalu serves as Vice President and Head of Global Scientific Affairs & Scientific Intelligence for Ipsen.
    Prior to joining Ipsen, Girish served as Executive Director and Head of Strategy, Innovation and Operations for
    Pfizer’s External R&D Innovation (ERDI) team. In this role, Girish led several strategic initiatives including
    establishing R&D Innovate, Pfizer R&D's strategic investment vehicle, and the spinout of Labrys Biologics. Girish
    also played a key leadership role in the Pfizer-Wyeth integration process. Prior to joining Pfizer, Girish was part
    of Genentech's BioOncology Pipeline Market Planning group where he was responsible for guiding the clinical and
    commercial strategy for late pre-clinical and early development programs including Kadcyla, Perjeta, and Erivedge.
    Girish was also part of Genentech's Business Development team. Girish started his career at L.E.K. Consulting.
    Girish earned his PhD in Cellular and Molecular Neurobiology at the California Institute of Technology in Pasadena,
    CA.
</p>


</%block>