<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>Dr. Indira M. Raman is a Professor in the Department of Neurobiology at Northwestern University, where she holds the Bill
	and Gayle Cook Chair in Biology and held Charles Deering McCormick Professorship of Teaching Excellence. Her research is in
	the areas of ion channel biophysics, synaptic transmission, and cerebellar physiology and she is the recipient of a Javits
	Neuroscience Investigator Award from NINDS. She has served on several NIH committees
	including NINDS Council, and has been a reviewing editor for three journals. Essays in which she has expressed
	her perspectives on scientific research and training have been published in Neuron and eLife.</p>


</%block>