<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    JeShaune Jackson is Founder of Bio-Diversity, an organization aimed at alleviating healthcare disparities and
    consulting with early stage biotech companies. He previously held roles as Corporate Development Manager at EpiBiome
    and Program Manager at the Entrepreneurship Center at UCSF and served as assistant instructor for the life science
    pre-accelerator program, which has helped a portfolio of companies raise nearly $20M and be placed in some of the
    top accelerators. He previously worked with Cleveland Clinic’s venture capital arm helping to manage 60+ spinoff
    companies and approximately $250M in assets. JeShaune received a Masters of Science in Biotechnology
    commercialization, as well as an MBA concentrated in entrepreneurship from Case Western Reserve University.
</p>


</%block>