<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Jessica Tashker serves as Director in the Market Analysis and Strategy group at Genentech. Jessica has 10+ years
    experience in the biotech and pharmaceutical industry. Currently in her role, she helps the company to make
    informed, data-driven decisions on market strategy. Prior to Genentech she worked at the Institute for OneWorld
    Health, a non-profit pharmaceutical company, focusing on early stage drug development for childhood diarrheal
    disease. She holds a Ph.D. in Molecular Cancer Biology from Duke University.
</p>


</%block>