<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>Dr. Ori-McKenney is an Assistant Professor in the Department of Molecular and Cellular Biology at the University of California,
	Davis. She performed her graduate work in the lab of Richard Vallee at Columbia University, studying how mutations in the
	microtubule motor, cytoplasmic dynein, cause neurodegenerative disease.  Then she moved across the country to do her
	postdoctoral work with Yuh Nung Jan at University of California San Francisco, where she was trained in Drosophila genetics and neurobiology.</p>

	<p>She became interested in how the microtubule cytoskeleton is organized and regulated within neurons that develop complex dendritic arbors.
		She started her own lab in January of 2016, and has since been focused on the kinases that coordinate microtubule associated proteins and motors during neuronal development.
		Her lab employs a Drosophila neuronal system combined with in vitro reconstitution using purified proteins in order to understand the regulation and interaction of
		microtubule associated proteins on a cellular and molecular level. She was recently awarded the March of Dimes Basil O’Connor Award for new investigators.</p>


</%block>