<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
Dr. Katherine S. Pollard is Director of the Gladstone Institute of Data Science &amp;
Biotechnology and Professor in the Department of Epidemiology &amp; Biostatistics,
Institute for Human Genetics, Quantitative Biology Institute, and Institute for
Computational Health Sciences at the University of California, San Francisco.
Previously, Dr. Pollard was an assistant professor in the University of California,
Davis Genome Center and Department of Statistics. Dr. Pollard earned her PhD in
Biostatistics from the University of California, Berkeley and was a Bioinformatics
postdoctoral fellow at the University of California, Santa Cruz.
</p>
<p>
Katherine Pollard was awarded the Thomas J. Watson Fellowship in 1995 and the
Sloan Research Fellowship in 2008. The UC Berkeley School of Public Health
recognized her as Alumna of the Year in 2013 and as one of its 75 most influential
alums in 2018. The San Francisco Business Times honored her in 2018 as one of its
Women Who Lead in the Life Sciences. She is a member of the California Academy of
Sciences and a Chan-Zuckerberg Biohub Investigator.
</p>
<p>
The Pollard lab develops bioinformatics methods for comparative analysis of
massive biological datasets, with a focus on genomics and other transformative
technologies. The lab’s mission is to enable statistically rigorous, quantitative
comparisons across species, developmental stages, and conditions. A major
emphasis is creating open source bioinformatics software. Pollard and her team
developed industry standard tools for gene expression analysis, detecting
evolutionary conservation and acceleration, and quantifying abundances of
microbial genes from metagenomes.
</p>


</%block>