<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>For over 35 years, Keith Yamamoto has been a faculty member at the University of California, San
	Francisco where his lab studies the specificity and mechanisms by which intracellular receptors
	govern gene transcription networks. Currently Dr. Yamamoto is Vice Chancellor for Research at UCSF,
	Executive Vice Dean of the School of Medicine, and Professor of Cellular and Molecular Pharmacology.
	Throughout his career, Dr. Yamamoto has chaired or served on numerous committees focused on science
	policy, education, and public outreach.</p>


</%block>