<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>Dr. Keith R. Yamamoto is Professor of Cellular and Molecular Pharmacology at University of California, San Francisco. After earning his Ph.D. from Princeton University, he joined the UCSF faculty and,
	in the past 40 years, has made important discoveries on mechanisms that regulate transcription and transcription networks by nuclear receptors, which mediate the actions of essential hormones and cellular
	signals. He is also UCSF’s first vice chancellor for Science Policy and Strategy, leading efforts to anticipate the needs of an increasingly dynamic biomedical research endeavor, and to position UCSF
	optimally, by working within the University as well as influencing and shaping science policy at the state and national levels and beyond. </p>

	<p>As Chair of the National Academy of Sciences Board on
	Life Sciences, he convened the study committee that produced Toward Precision Medicine: Building a Knowledge Network for Biomedical Research and a New Taxonomy of Disease,
	a report that enunciated the precision medicine concept. Additionally, he has helped lead efforts to implement it at the state and national levels, as well as at UCSF, where
	he serves as Director of Precision Medicine. </p>


</%block>