<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Needhi Bhalla is an Associate Professor in the Department of Molecular, Cell and Developmental Biology at University
    of California, Santa Cruz. She investigates how mitotic and meiotic chromosome behaviour is monitored by cell cycle
    checkpoints in C. elegans. She performed her graduate work with Andrew Murray at University of California, San
    Francisco and her post-doctoral work with Dr. Abby Dernburg at University of California, Berkeley. Information about
    the work and people in her lab can be found at bhallalab.com.
</p>


</%block>