<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Paul Turner is the Elihu Professor of Ecology and Evolutionary Biology at Yale University, and faculty member in
    Microbiology at Yale School of Medicine. He studies the evolutionary genetics of viruses, particularly
    bacteriophages that specifically infect bacterial pathogens, and RNA viruses that are vector-transmitted by
    mosquitoes. Dr. Turner received a Biology degree (1988) from University of Rochester, and Ph.D. (1995) in Zoology
    from Michigan State University. He did postdoctoral training at National Institutes of Health, University of
    Valencia in Spain, and University of Maryland-College Park, before joining Yale’s Ecology and Evolutionary Biology
    Department in 2001.</p>
<p>His service to the profession includes Chair of the American Society for Microbiology (ASM)
    Division on Evolutionary and Genomic Microbiology, as well as membership on the National Science Foundation’s
    Biological Sciences Advisory Committee, ASM Committee on Minority Education, and multiple National Research Council
    advisory committees. Dr. Turner was elected Fellow of the American Academy of Microbiology, Councilor of the
    American Genetic Association, Chair of the Gordon Research Conference on Microbial Population Biology, and Chair of
    the CNRS Jacques Monod Conference on Viral Emergence. He chaired the Watkins Graduate Research Fellowship award
    committee for ASM, and received the E.E. Just Endowed Research Fellowship and William Townsend Porter Award from
    Marine Biological Laboratory, and fellowships from Woodrow Wilson Foundation, NSF, NIH and HHMI. Dr. Turner has
    served as Director of Graduate Studies and as Chair of the Ecology and Evolutionary Biology Department at Yale, as
    well as Yale’s Dean of Science and Chair of the Biological Sciences Tenure Promotion Committee.
</p>


</%block>