<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Prachee Avasthi is an Assistant Professor of Anatomy and Cell Biology at the University of Kansas Medical Center.
    Using a unicellular green alga as a model system, Prachee’s NIH funded laboratory (<a href="avasthilab.org">avasthilab.org</a>) uses chemical
    biology, biochemistry, genetics and quantitative live cell imaging to uncover novel mechanisms regulating assembly
    of the ubiquitous cellular antenna, the cilium. Prachee is a strong advocate for improved publication practices and
    serves on the board of directors for ASAPbio <a href="http://asapbio.org/about-us">http://asapbio.org/about-us</a>) and eLife
    (<a href="https://elifesciences.org/about/people/directors">https://elifesciences.org/about/people/directors</a>). She also founded the online peer-mentoring community for junior
    faculty, New PI Slack (<a href="https://newpislack.wordpress.com">https://newpislack.wordpress.com</a>) and advocates for early-career scientists on the steering
    committee of rescuing biomedical research (<a href="http://rescuingbiomedicalresearch.org/about/steering-committee-bios/">http://rescuingbiomedicalresearch.org/about/steering-committee-bios/</a>).
    Prachee received her Ph.D. in Neuroscience in 2009 from the lab of Wolfgang Baehr at the University of Utah. She
    then completed her postdoctoral studies with Wallace Marshall at the University of California in San Francisco.
</p>


</%block>