<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>Dr. Randy Schekman is a Professor in the Department of Molecular and Cell Biology,
	University of California, Berkeley, and an Investigator of the Howard Hughes Medical
	Institute. He studied the enzymology of DNA replication as a graduate student with Arthur
	Kornberg at Stanford University. His current interest in cellular membranes developed during a
	postdoctoral period with S. J. Singer at the University of California, San Diego. At
	Berkeley, he developed a genetic and biochemical approach to the study of eukaryotic membrane traffic.</p>

<p>Among his awards are the Eli Lilly Award in microbiology and immunology, the Lewis S.
	Rosenstiel Award in basic biomedical science, the Gairdner International Award, the
	Amgen Award of the Protein Society, the Albert Lasker Award in Basic Medical Research and
	the Louisa Gross Horwitz Prize of Columbia University. In 2013, Schekman was awarded
	the Nobel Prize in Medicine or Physiology jointly with Thomas Südhof and James Rothman
	for their contributions to understanding vesicle trafficking.</p>

<p>Schekman has been awarded honorary doctorate degrees from the University of Geneva and
	the University of Regensburg. He is a member of the National Academy of Sciences and
	the American Academy of Arts and Sciences. From 2006-2011, he was Editor-in-Chief of
	the Proceeding of the NAS. Currently he is Editor-in-Chief of the open access journal
	eLife.</p>


</%block>