<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Ronald Vale is Professor of the Dept. of Cellular and Molecular Pharmacology and an
    Investigator in the Howard Hughes Medical Institute. Dr. Vale received his Ph.D. in
    Neurosciences from Stanford University in 1985, was a Staff Fellow with the N.I.H.
    stationed at the Marine Biological Laboratory in 1985-6, and began his faculty
    appointment at UCSF in 1987.
</p>
<p>
    Vale’s research has focused on how cargoes are transported within cells using molecular
    motor proteins. Vale discovered the motor protein “kinesin” and his laboratory was
    involved in elucidated its mechanism of movement using structural and single molecule
    approaches. Vale currently studies the mechanism of dynein, a much larger and less well
    understood molecular motor. His lab also investigates cytoskeletal organization
    including assembly of the mitotic spindle, the mechanism of T cell signaling, and RNA
    biology.
</p>
<p>
    Vale is involved in several activities that benefit the scientific community. He founded
    iBiology, an non-profit organization that produces videos of scientific talks by leading
    scientists and makes them freely available. He founded ASAPbio, a non-profit
    organization to improve scientific publishing in the life sciences. He founded
    IndiaBioscience, a networking organization for the life sciences in India, and also started
    the annual Young Investigator Meeting for young Indian scientists. He previously co-
    directed the MBL Physiology Course for five years and founded/directed the Bangalore
    Microscopy Course. Vale’s laboratory developed free, open source software for light
    microscopy (MicroManager). He served as President of the American Society of Cell
    Biology and chaired an NIH study section. Vale co-founded Cytokinetics, Inc. and serves
    on their SAB.
</p>
<p>
    Vale received the Lasker Award in Basic Medical Research, the Shaw Prize in Life
    Sciences, the Massry Prize, the Wiley Prize, and the Pfizer Award in Enzyme Chemistry.
    He was elected to the National Academy of Sciences, the National Academy of
    Medicine, the American Academy of Arts and Sciences, the European Molecular Biology
    Organization, and the Indian National Science Academy.
</p>


</%block>