<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>Ryan Hernandez is an Associate Professor in the Department of Bioengineering and Therapeutic Sciences at the University of California,
	San Francisco. He studies patterns of genetic variation in modern day populations to gain insights into their evolutionary history. His
	focus is on the development of population genetic models that can best explain observed data, with the goal of understanding the genetic
	basis for complex traits. His interests span basic population genetics, human disease genetics, and host-pathogen interactions. His
	scientific approach tends to be highly computational, often involving a thorough analysis of detailed simulations. He earned his bachelor’s at
	Pitzer College and then moved on to earn his Master’s and Ph.D. in Biometry at Cornell University.  </p>


</%block>