<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>Sabine Petry is originally from Germany and studied Biochemistry at the Goethe University, where she became interested in structural biology.
	She performed her Master’s thesis at the Max Planck Institute of Biophysics in Frankfurt under supervision of Prof. Carola Hunte and Prof.
	Hartmut Michel. She performed her thesis research with Dr. Venki Ramakrishnan at the MRC Laboratory of Molecular Biology (UK).</p>

<p>She was
	involved in solving the first crystal structure of a classical translation factor bound to the entire ribosome, work that helped increase
	our knowledge of how translation factors drive protein synthesis in the ribosome. She then joined Ron Vale's lab at the University of California,
	San Francisco as a postdoctoral HHMI Fellow of the Life Science Research Foundation, where she pursued the study of a less understood and larger
	molecular entity, the mitotic spindle. Her research lab combines high-resolution microscopy methods along with structural studies to study how the
	microtubule cytoskeleton builds cellular structures. She has received the NIH Pathway to Independence Award, the Kimmel Scholar Award for Cancer
	Research and the Packard Fellowship for Science and Engineering. </p>


</%block>