<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">

<p>
    Sandra Waugh Ruggles is a healthcare innovator and business strategist. Currently focused on consulting for small
    companies seeking to design and develop novel medical devices, Sandy was formerly in strategic marketing at
    Acclarent (part of J&J). She holds a PhD from UCSF in Biophysics, and was a Thomas Fogarty Fellow at the Stanford
    Biodesign program. Her first company, Catalyst Biosciences was formed in part from her thesis at UCSF, and is now a
    clinical stage, NASDAQ listed company.
</p>


</%block>