<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>Dr. Tejal Desai is currently the Ernest L. Prien Professor and Chair of the department of Bioengineering and Therapeutic Sciences at the
	University of California, San Francisco. She is also a member of the California Institute for Quantitative Biomedical Research, PI of the
	UCSF/UC Berkeley Graduate Group in Bioengineering Training Grant, and founding director of the UCSF/UC Berkeley Master’s in Translational Medicine.
	She received the Sc.B. degree in Biomedical Engineering from Brown University in 1994 and the Ph.D. degree in bioengineering from the joint graduate
	program at University of California, Berkeley and the University of California, San Francisco, in 1998.</p>

	<p>Dr. Desai currently directs the Laboratory of Therapeutic Micro and Nanotechnology where her research focuses on using micro and nanofabrication
		techniques to develop devices for cell and drug delivery, scaffolds for cell and tissue regeneration, and functional biomaterials. Her
		research efforts have earned recognition including Technology Review’s "Top 100 Young Innovators,” Popular Science’s Brilliant 10, and
		NSF’s New Century Scholar.  Her other interests include K-12 educational outreach, gender and science education, science policy
		issues, and biotechnology/bioengineering industrial outreach. </p>


</%block>