<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>Dr. Tejal Desai is a Professor of BioEngineering and Therapeutic Sciences at the University of California,
	San Francisco and head of the Therapeutic Microtechnology and Nanotechnology Laboratory. Her
	lab strives to develop new approaches to delivering drugs to specific cells such as the retina,
	as well as developing materials for bioengineering. Desai did her undergraduate studies in biomedical
	engineering at Brown University and her PhD in the joint program in bioengineering at the Universities of California in Berkeley and San Francisco..</p>


</%block>