<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../ibio-speaker.html" />

<%block name="speaker_bio">
	
<p>Uri Alon is a Professor and Systems Biologist at the Weizmann Institute of Science. His highly cited research
	investigates gene expression, network motifs and the design principles of biological networks in Escherichia coli
	and other organisms using both computational biology and traditional experimental wet laboratory techniques.  Alon
	earned his bachelor's and master's degrees from the Hebrew University of Jerusalem and his Ph.D. in Theoretical
	Physics from the Weizmann Institute of Science.</p>

 <p>After having his interest in biology sparked, he headed for his
	postdoctoral work at Princeton University in experimental biology, returning to the Weizmann Institute as a Professor.
	He is featured in several popular videos on YouTube such as Sunday at the Lab (with Michael Elowitz) and How to Give
	a Good Talk. His TED talk entitled <a href="https://www.ted.com/talks/uri_alon_why_truly_innovative_science_demands_a_leap_into_the_unknown">Why Science Demands a Leap into the Unknown</a>, has been viewed well over 900,000 times.
	As of 2011, he is also the author of the most highly bookmarked scientific paper on CiteULike <i>How To Choose a Good Scientific
	Problem</i> and <i>How to Build a Motivated Research Group</i>. In 2014 Dr. Alon received the HFSP Nakasone Award for "his pioneering
	work in discovering network motifs".
</p>


</%block>