<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Help")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    
    <section class="breadcrumb">
		<div class="row" >
			<div class="col col-12" style="width:100%;">
				<a href="/">iBiology Courses </a> :: Help
			</div>
		</div>
	</section>
    
    <section class="container help">
        <h1>${_("Help")}</h1>
        <p>${_("This page left intentionally blank. Feel free to add your own content.")}</p>
    </section>
</main>
