<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("iBiology Courses Newsletter : Signup Complete")}</%block>

<main id="main" aria-label="Content" tabindex="-1">



	<section class="container ibio-newsletter-signup-complete-page">

		<div class="ibio-page-header">
			<h1>${_("We've added you to our newsletter!")}</h1>
		</div>

		<p> You're all signed up for our iBiology Courses Newsletter. We'll be in touch with important announcements and reminders.
				(If you haven't yet registered with us yet, we'll send you an email shortly to confirm your signup.)
		</p>

		<p>If you haven't had a chance, you can read more about our <a href="http://www.ibiology-test.org/courses/course-v1:iBiology+iBio1+2017_2/about">"Planning Your Scientific Journey" course</a> . For a quick overview you can watch the trailer below.</p>

		<br/>
		<br/>

		<div class="ibio-intro-video">
      <div class="ibio-intro-video-wrapper" style="margin:10px;">
          <div class="ibio-video-container">
            <iframe src="https://www.youtube.com/embed/2E75XOgoE0A" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
		</div>

		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

	</section>
</main>