<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="header_extras">

</%block>

<%block name="bodyextra">

<main id="main" aria-label="Content" class="ibio-speaker-bio" tabindex="-1">

	<section class="video-header-row">
		
		<div class="row" >
			<div class="col col-12" style="width:100%;">
					<div class="video-container" style="overflow: hidden;position: relative;padding-bottom: 45%;">
						<iframe  src='${ibio_speaker['videoURL']}?rel=0' frameborder="0" allowfullscreen style="height:100%;left:0;position:absolute;top:0;width:100%;" ></iframe>
					</div>
			</div> <!-- ./col -->
		</div>
	</section>
	
	<section style="margin-top:40px;">
		<div class="row">
			<div class="col col-12">
	
				<h1>
					<span>Speaker Bio:</span>
					<span class="ibio-speaker-name">
						${ibio_speaker['name']}
					</span>
				</h1>
				
				<div class="speaker-bio">
					<%block name="speaker_bio" />
				</div>
		
			</div> <!-- /.col -->
		</div> <!-- /.row -->
	</section> <!-- iBio speaker bio -->
</main>
	
</%block>

	
