<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About iBiology Courses")}</%block>

<main id="main" aria-label="Content" tabindex="-1">

	<section class="breadcrumb">
		<div class="row">
			<div class="col col-12" style="width:100%;">
				<a href="/">iBiology Courses </a> :: Testimonials
			</div>
		</div>
	</section>


	<section class="container about">

		<div class="ibio-page-header">
			<h1>${_("About iBiology Courses")}</h1>
		</div>

		<h2>iBiology Courses Testimonials</h2>



		<h3>On Course Design</h3>
		<p class="testimonial">I loved the way this course was planned and executed. I thought the amount of time to
			complete this course was very fair.
			I enjoyed watching the videos, the information was extremely helpful and I am working on implementing the ideas
			into my everyday life! As
			I was taking this course, it didn't really feel that I was wasting time. I usually do not like online courses, but
			I found myself very engaged in these lessons and really enjoyed watching the videos. Great professionals were
			chosen for this!
		</p>

		<p class="testimonial-source">
			Second year, graduate student
		</p>


		<p class="testimonial">
			I really, really enjoyed how each section and usually each page of the course began with a short video
			by the course instructors. Their insight was incredibly helpful, especially since there were a variety of
			instructors with different backgrounds, fields of expertise, and career positions. I think
			that the videos really helped to orient me to a certain question or idea before I applied those thoughts to my own
			project and situation.
		</p>
		<p class="testimonial-source">
			First year, graduate student
		</p>


		<p class="testimonial">
			Great course!! Seriously this has vastly better prepared me for a career in academia than any other
			single course I've taken. I wish all of these research essentials were more explicitly talked about
			in grad school instruction. I think it could save a lot of heartache and frustration.
		</p>
		<p class="testimonial-source">
			Sixth year grad student
		</p>


		<p class="testimonial">
			... I really enjoyed how different assessments required me to think of the question from a number of different
			perspectives,
			such as feasibility and impact, while also requiring me to think about technically what I will need to accomplish.
			The assessments, forcing me to think about things coherently enough to write them down, really helped me to
			solidify
			my thoughts about and plan for my project, and truly got me excited to do the experiments and answer my questions.
		</p>
		<p class="testimonial-source">
			First year, graduate student
		</p>

		<h3>On the Discussion Forums</h3>

		<p class="testimonial">
			I thought that the community was a great resource. I feel like this really helped to expand my network, even,
			as I could pose questions and have others contribute their own ideas as I did the same for others. I particularly
			thought this was helpful when looking for different articles in the literature related to my project, as well
			as when discussing the way different people keep their "growth mindset."
		</p>
		<p class="testimonial-source">First year, graduate student</p>


		<p class="testimonial">
			… I also benefitted from the discussion boards, lots of other students had useful comments and good ideas that
			changed my thinking about various topics.
			I think this course will really help me narrow down my research interests, identify potential postdoc labs, and
			then
			greatly help me plan my work as I transition to a more independent researcher.
		</p>
		<p class="testimonial-source">Fifth year, graduate student</p>


		<p class="testimonial">
			The sense of community this course fostered was really important for me.
			It not only provided me with important pieces of advice, it also showed me
			that I'm not alone in this journey and that many of my doubts and struggles
			are experienced by other people. This means that this issues are really
			not that uncommon which means having them is perfectly normal and that there are ways to raise above them.
		</p>
		<p class="testimonial-source">Undergrad</p>


		<p class="testimonial">
			I thought the community between students was great.
			I learned a lot from the discussions, and it was exciting
			to see where the other students were from both geographically
			and in terms of their career paths and experiences.
		</p>
		<p class="testimonial-source">Fifth year, graduate student</p>

		<p class="testimonial">
			I thought that the community was a great resource. I feel like this really
			helped to expand my network, even, as I could pose questions and have others
			contribute their own ideas as I did the same for others. I particularly thought
			this was helpful when looking for different articles in the literature related
			to my project, as well as when discussing the way different people keep their "growth mindset".
		</p>
		<p class="testimonial-source">First year, graduate student</p>


		<h3>On Course Outcomes</h3>


		<p class="testimonial">
			The main thing that this course did for me was to force me to very actively think about my project. Especially
			because I haven't yet started the research but have a plan, this course really helped me to think about and
			evaluate my question. I really enjoyed how different assessments required me to think of the question from a
			number of different perspectives, such as feasibility and impact, while also requiring me to think about
			technically what I will need to accomplish. The assessments, forcing me to think about things coherently enough to
			write them down, really helped me to solidify my thoughts about and plan for my project, and truly got me excited
			to do the experiments and answer my questions.

		</p>

		<p class="testimonial-source">First year, graduate student</p>


		<p class="testimonial">The idea of following a research plan, planning long and short term goals, and having a
			realistic timeline of when these goals can be met was extremely helping. Also learning how to come up with better
			scientific questions, specifically those that can be answerable and adapting experiments to solve these questions
			was very helpful. This course has helped me reevaluate how to go about asking good scientific question, organizing
			my research plan, and setting up meetings with mentor(s) frequently to get advice and seek help when needed.
		</p>
		<p class="testimonial-source">Second year, grad student</p>


		<p class="testimonial">It has given me a sense of control over what i am getting into (I am starting grad school
			this fall as a PhD student). I have an idea of how to approach my research and what to be thinking about. It has
			reinforced my view that putting in significant time planning and thinking will pay off when it comes to executing.
			I feel more confident about grad school now because of this course.

		</p>
		<p class="testimonial-source">Incoming grad student</p>


		<p class="testimonial">The course helped me evaluate what went wrong with my old project and my relationship with my
			old mentor, and it has given me concrete tools and systems for making sure that things are better this time
			around. Because of this course, I am 100% confident that my new project is a better project, I have a plan for how
			to complete the project, and I have the skills to bounce back and not despair when it doesn't go perfectly
			according to plan.

		</p>
		<p class="testimonial-source">Third year, grad student</p>


		<p class="testimonial">I had no formula, no idea of how to go about constructing a solid research question in this
			way. My strategy has been to read a bunch, get a wisp of an idea, and just see what my adviser seems interested
			in. We don't really go through it. He is very busy and hands-off. So I get the go-ahead and wham I'm doing an
			experiment with only a vague idea of what it will show and what the pitfalls may be. This prepared me to take a
			much more rigorous approach that levies all of my technical strengths but also takes into account my interests. I
			think I was doing all of these things but wasn't doing them well because it was less intentional than it needed to
			be in order to be really effective. I feel so much more capable of running my own lab and it was something I was
			really not sure I could do.

		</p>
		<p class="testimonial-source">Sixth year grad student</p>


		<p class="testimonial">Instead of jumping right to "I have a thought...experiment!", I'm going to be much more
			deliberate and thoughtful about how I pursue a research question. In coming up with the question in the first
			place, I'm going to seek MUCH more feedback than I have previously and it will also be easier to do, I think,
			because it will be more flushed out so people have more to give constructive feedback on. I'm also going to give
			myself the space I need to really go through the literature and just explore. It's like I've been reading in a
			pressure cooker previously, where I have to read this really fast because time is running out and I need a
			project. Now, I know my creativity and curiosity need to have time to gently stroll through the literature in a
			way that is focused enough so as not to get overwhelmed, yet free enough to find what interests me most. Something
			will emerge from the process naturally as I gravitate toward what interests me and digest enough to see the gaps
			in knowledge. I've been stifling my passion and curiosity for the sake of a quick solution, which is the thing
			that gets you through when times get rough.

		</p>
		<p class="testimonial-source">Sixth year grad student</p>


		<p class="testimonial">This course has helped me develop a process for asking scientific questions and planning out
			my research goals.
		</p>
		<p class="testimonial-source">Second year grad student</p>


		<p class="testimonial">It completely reframed my mind on how to tackle my project! I loved it!
		</p>
		<p class="testimonial-source">Fourth year postdoc</p>


		<p class="testimonial">Providing me with a structured approach to develop projects is essential for me as an new
			postdoc, and will be invaluable for me moving forward as a future mentor to other scientists. Appreciating how
			project development can go in other people's experience (as garnered from discussions by course contributors) was
			also valuable.

			Learning how to think about your goals - and understanding how to actually use my planning by continually
			revising, revisiting, and evaluating - appears to be a powerful tool for ensuring progress towards scientific as
			well as professional goals. For instance, it provides a straightforward way to decide between multiple appealing
			research directions. Refining my goals with the SMART criteria was one of the most valuable aspects of the course.

		</p>
		<p class="testimonial-source">First year postdoc</p>


		<p class="testimonial">By teaching me how to assess myself and my skills, and think more deeply about my research
			project. The course also exposed me to the SMART technique, which I now find indispensable as I plan my research
			projects and my daily life. I also learned to be more proactive, prepared and organized when it comes to asking
			for advice from my advisors.
		</p>
		<p class="testimonial-source">Third year, graduate student</p>


		<h3>On IDPs</h3>

		<p class="testimonial">The videos definitely worked well for me. There was so much useful advice given to us. I had
			heard some of the things that were being said before, specifically for the IDP, but I felt that these videos
			really helped me understand how useful IDPs are and more effective ways to implement them. The videos opened my
			perspective to different ideas and how to go about becoming a better scientist and more efficient in my work.

		</p>
		<p class="testimonial-source">Second year, grad student</p>


		<h3>On the platform and videos</h3>

		<p class="testimonial">I REALLY REALLY love the entire module platform. It was easy to see my progress, to navigate
			to different sections, enter in answers and revisit questions (via links!). It was very clear what was expected of
			me and what each lesson would entail. The videos were really high quality and the speaker selection was EXCELLENT
			- I found all of them to be very clear and inspiring.

		</p>
		<p class="testimonial-source">Sixth year grad student</p>


		<p class="testimonial">I will definitively use all the aspects of the course. I think all the videos were really
			helpful, because you don't see PI or researchers talking about their research experiences on a daily basis.
			Listening to them and taking their advice will help me choosing a better pathway in the long run.

		</p>
		<p class="testimonial-source">Masters student</p>


		<p class="testimonial">I loved this course so much. Thank you for the opportunity to learn from so many wise
			scientists in a fun, easy to use, yet challenging and stimulating way.
		</p>
		<p class="testimonial-source">grad student</p>


		<p class="testimonial">The tools help provide a focus for what I should be doing and when.
		</p>
		<p class="testimonial-source">grad student</p>


		<p class="testimonial">Prior to this I had a somewhat negative mindset regarding my scientific journey, it felt
			almost unsurmountable. Now I have a clearer idea of what the journey really entails, and that I don’t have to come
			in knowing how to do everything from the beginning.

		</p>
		<p class="testimonial-source">incoming grad student</p>


		<p class="testimonial">I realized I am not alone in most of the setbacks I am currently dealing with as a graduate
			student.
		</p>
		<p class="testimonial-source">Sixth year grad student</p>


		<p class="testimonial">I would like to spend this final thoughts section saying thank you for the organizers and the
			PIs/students team that contributed with the course material...I was going through major challenges with my project
			and the perception of myself as a scientist and I cannot stress enough how this course was important to reframe
			and evaluate all aspects of my career path...from things I want to improve to how to handle my project! Thank you
			so so so much for this wonderful experience!

		</p>
		<p class="testimonial-source">Fourth year postdoc</p>


		<p class="testimonial">Thank you for putting this course together - I definitely think many students will find it
			helpful. I appreciate that the course content did not take up a significant portion of time and was
			compartmentalized into small, digestible videos. Thanks for your great work!

		</p>
		<p class="testimonial-source">Fourth year grad student</p>


		<p class="testimonial">This was a great and informative course. All of the instructors were very knowledgable and
			thorough and offered great advice. This class should be a requirement for all graduate students transitioning from
			their first year to the second year!!!

		</p>
		<p class="testimonial-source">First year grad student</p>

		<p class="testimonial">I loved this course, I have learned the basic skills and mindset a researcher needs to me
			successful will also having clear that we need to be creative in our field of study. Persistence, creativity and
			passion thrive scientist to success, but hard work and being able to learn is a main key to accomplishing goals.

		</p>
		<p class="testimonial-source">First year grad student</p>


		<p class="testimonial">I want to congratulate all the people involved with the development and implementation of
			this course because for me it was excellent!!! I'm certain that this experience has made me a better student (and
			future scientist) and that in the long run I'll look back to this time and be thankful of this course because it
			was a key element that helped me develop a really important aspect of my formation that is not explicitly
			discussed during graduate education. Thank you very much for providing me with this educational experience!!!
		</p>
		<p class="testimonial-source">Undergrad</p>


		<p class="testimonial">Thanks so much for allowing me to be part of this testing experience for this course! I had a
			blast doing it, and will absolutely and 150% recommend it to my peers, PI, and whoever else is interested in
			hearing me talk about being proactive about one's own grad school training :)

		</p>
		<p class="testimonial-source">First year grad student</p>

		<h3>For Mentors</h3>

		<p class="testimonial">This have given me better ideas of how to train students and be an advocate for them.
		</p>
		<p class="testimonial-source">Fifth year postdoc</p>


		<p class="testimonial">I wish I had this course as a beginning graduate student. I will definitely use all concepts
			in training my students in the future.
		</p>
		<p class="testimonial-source">Fifth year postdoc</p>


		<p class="testimonial">As a postdoc transitioning to faculty I learned many principles that I will use to train my
			students. All videos were extremely helpful in approaching scientific training in an organized manner.
		</p>
		<p class="testimonial-source">Fifth year posdoc</p>


	</section>
</main>