<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("iBiology Courses : Trainer Information")}</%block>


<style>

	.trainer-info-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.trainer-info-text {
		width:100%;
		max-width:500px;
		min-width:300px
		margin-right: 50px;
	}

	.trainer-info-form{
		width:100%;
		max-width:500px;
		min-width:300px;
	}

</style>

<main id="main" aria-label="Content" tabindex="-1">


	<section class="container" >


		<div class="ibio-page-header">
			<h1>Faculty or Staff Interested in Requiring<br/>“Planning Your Scientific Journey” for Their Trainees</h1>
		</div>

		<div style="trainer-info-wrapper">

			<div class="trainer-info-text ">

				<p> Several people let us know they are, or are considering, making this course a requirement for their trainees
					(undergrad, grad or postdoc). We are very excited to hear this! If you are planning to make this course a requirement,
					we ask that you share a little info in the form below.

				</p>

				<p><b>Please use the following form to let us know how you are planning to implement the “Planning Your Scientific Journey”
					course in your training program and if there are ways we can help.</b> We will then follow up with you to see how it went.
					The information you provide will help us iterate the course as well as design resources for other groups/programs who
					wish to require this course for their trainees in the future.
				</p>

				<p>Thank you!</p>
				<p><em>The iBiology Team</em></p>

			</div>

			<div class="trainer-info-form">
				<div class="_form_3"></div><script src="https://ibiology.activehosted.com/f/embed.php?id=3" type="text/javascript" charset="utf-8"></script>
			</div>

		</div>




		<br/>


		<br/>
		<br/>


		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

	</section>
</main>