<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("iBiology Courses Terms of Service")}</h1>

				<p>This website is provided as a public service to promote science. It welcomes anyone willing to join us in this pursuit.</p>

        <p>You are encouraged to take as many courses on iBiology Courses as you wish for free, and to share what you learn with others both online and offline according to the
	        Creative Commons copyright we assign to each course's material and the site itself.</p>

        <p>Anyone 15 and over can take iBiology Courses courses on the courses.ibiology.org website.</p>

        <p>We are seeking to build a mature online community. Please be aware, when commenting on the iBiology Courses website or iBiology Courses YouTube channels, that we will remove:</p>

					<ul>
						    <li>content promoting pseudo-science, conspiracy theories, zealotry, proselytizing, self-promotion, product-hawking, and new-age fluff.</li>
						    <li>content written in speak, all-caps, or otherwise lazy grammar.</li>
						    <li>content using joke names or non-names.</li>
						    <li>disrespectful, distasteful, unconstructive, or illegal content.</li>
					</ul>

	      <p>If you are under the age of 15, you may not take courses on our website.</p>

	      <p>If you act disrespectfully, disruptively or illegally on iBiology.org or our YouTube channels, we reserve the right to block your access from further commenting.</p>

    </section>
</main>
